:root { font-size: 12pt !important; }
menupopup { --panel-border-radius: 8px !important; }
#contentAreaContextMenu::part(content) { border: 1px solid #3c3c40 !important; }
#plasma-browser-integration_kde_org-menuitem-_purpose_share,              
#context-sep-sendpagetodevice { display: none !important; }
menupopup#context-sendimage, #context-sendimage { display: none !important; }
#context-openlinkinusercontext-menu, #context-openlinkincontainertab,
#spell-check-enabled, #spell-add-to-dictionary, #spell-suggestions-separator,
#spell-separator, #context-sep-bidi, #context-sep-selectall,
[data-l10n-id="places-open-in-container-tab"] { display: none !important; }
#tabbrowser-tabs[movingtab-group] .tab-background[dragover-groupTarget] { outline-width: 3px !important; outline-offset: -3px !important; }
#tabbrowser-tabs[movingtab-group] tab-split-view-wrapper[dragover-groupTarget] { outline-width: 3px !important; }
#tabbrowser-tabs[movingtab-group] .tabbrowser-tab[dragtarget] .tab-background { outline-width: 3px !important; }
#historySwipeAnimationPreviousArrow > svg, #historySwipeAnimationNextArrow > svg { scale: 1.25 !important; }
#editBMPanel_namePicker { margin-bottom: 8px !important; }
#contentAreaContextMenu menuseparator:last-child, #contentAreaContextMenu menuseparator:only-child { display: none !important; }
panel[type="arrow"].panel-no-padding { transform: translateY(2px) !important; }
#appMenu-empty-profiles-button { display: none !important; }
